.container{
    display: grid;
    width: 98vw;
    height: 98vh;    
    text-align: center;
    grid-template: repeat(12, 80px) / repeat(12, 1fr);
    gap: 5px 5px;
    
}
.left{
    /*row inicio / col inicio / row fin / col fin */
    border: 2px solid coral;
    background-color: aquamarine;
    grid-area: 2 / 3 /10 /7;
}
.right{
    border: 2px solid #411a0c;
    background-color: darkgoldenrod;
    /*row inicio / col inicio / row fin / col fin */
    grid-area: 2 / 7 / 10  / 11 ;
}4