body{
    display: flex;    
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.padre {
    flex-wrap: wrap;
    margin: auto;
    width: 600px;
    height: 600px;
    border: 2px solid red;
    flex-direction: column;
    display: flex;       
    justify-content: center;
    align-items: center;    
}
.madre {         
    margin: auto;
    width: 600px;
    height: 600px;
    border: 2px solid #ffbb00;
    display: flex;       
    justify-content: center;
    align-items: center;  
       
}
.hijos{
    display: flex;
    width: 170px;
    height: 170px;
    border: 2px solid green;
    margin: auto;
    justify-content: space-between;
    justify-content: center;
    align-items: center;       
}
.hijas{
    display: flex;
    margin: auto;    
    width: 170px;
    height: 170px;
    border: 2px solid #000280;
    justify-content: space-evenly;        
    justify-content: center;
    align-items: center; 
      
}
.col{
    flex-direction: column;
}
.nietos{    
    border: 2px solid blueviolet;
}
.nietas{
    border: 2px solid #2b65e2;    
}
.nietos, .nietas{
    margin: auto;
    width: 45px;
    height:45px;
    
}
